.bg-nav {
  background-color: var(--preto);
}

.bg-nav a {
  font-family: "Bebas Neue", sans-serif;
  color: var(--branco);
}

div a.logo {
  font-family: Polaris, sans-serif;
}

.toggle-icon {
  color: var(--branco);
}

.slide-down {
  animation: slideDown 0.7s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

