.bg-nav {
  background-color: var(--azul_marinho_muito_escuro);
}

.bg-nav a {
  font-family: "Bebas Neue", sans-serif;
  color: var(--branco);
}

div a.logo {
  font-family: Polaris, sans-serif;
}

.toggle-icon {
  color: var(--branco);
}
