<section>
  <h3 id="title-1" class="text-1xl md:text-4xl md:pt-4">
    Boas-vindas ao meu Portfólio!
  </h3>
  <div>
    <div class="">
      <p class="{{classCSSDesktop}}">
        Sou um desenvolvedor apaixonado por criar experiências incríveis na web.
        Combinando minha expertise em Angular e minha paixão por design, estou empenhado em desenvolver soluções interativas e intuitivas.
      </p>
    </div>
    <app-grid-skills></app-grid-skills>
    <div class="">
      <p class="{{classCSSDesktop}}">
        Aqui, você encontrará uma coleção dos meus projetos mais recentes, onde
        utilizei o poder do Angular para construir aplicações modernas,
        escaláveis e eficientes. Desde aplicações web responsivas até sistemas robustos, estou constantemente explorando novas possibilidades e
        aprimorando minhas habilidades para entregar resultados excepcionais.
        Meu objetivo é fornecer soluções customizadas, focadas nas necessidades
        dos clientes, sempre em busca da melhor experiência do usuário. Com uma
        abordagem centrada no usuário e atenção aos detalhes, busco criar
        interfaces atraentes e intuitivas que oferecem desempenho excepcional em
        todos os dispositivos.
      </p>
    </div>
    <div class="">
      <p class="{{classCSSDesktop}}">
        Sinta-se à vontade para explorar meus projetos e entrar em contato
        comigo para discutirmos como posso ajudar a impulsionar seu próximo
        projeto. Vamos transformar suas ideias em realidade com Angular!" Adapte
        essa apresentação de acordo com sua personalidade, experiência e estilo
        único. Lembre-se de transmitir sua paixão pelo desenvolvimento web e
        destacar os benefícios e diferenciais do uso do Angular em seus
        projetos.
      </p>
    </div>
  </div>
</section>
