<section>
  <h3 id="title-1" class="pt-10 m-3 text-1xl md:text-4xl md:pt-4">Bem-Vindo!</h3>
  <div>
    <div class="lg:ml-2 lg:grid lg:grid-cols-2 lg:mt-9" id="initial-presentation">
      <div class="w-[25rem]" id="primary">
        <p class="{{ classCSSDesktop }}" >
          {{ textoDigitado }}
        </p>
      </div>

    </div>
    <div class="m-2 mt-2 md:mt-15 md:pt-10">
      <p class="{{ classCSSDesktop }}">
        Desde aplicações web responsivas até sistemas
        robustos, estou constantemente explorando novas possibilidades e
        aprimorando minhas habilidades para entregar resultados excepcionais.
        Meu objetivo é fornecer soluções customizadas, focadas nas necessidades
        dos clientes, sempre em busca da melhor experiência do usuário. Com uma
        abordagem centrada no usuário e atenção aos detalhes, busco criar
        interfaces atraentes e intuitivas que oferecem desempenho excepcional em
        todos os dispositivos.
      </p>
    </div>
    <div class="">
      <p class="{{ classCSSDesktop }}">
        Sinta-se à vontade para explorar meus projetos e entrar em contato
        comigo para discutirmos como posso ajudar a impulsionar seu próximo
        projeto. Vamos transformar suas ideias em realidade com Angular!
      </p>
    </div>
  </div>
</section>
